{% extends 'base.html' %}
{% block content %}

<h1>Listings</h1>
<div class="filters-listings">
  <div class="filters">
    <p>Filters Placeholder</p>
    <p>Sorts Placeholder</p>
  </div>
  <div class ="listing-grid">
  {% for listing in listings %}
    <a href="">
      <div class="card">
          <div class="card-content">
              <span class="card-title">{{ listing.title }}</span>
              {% if listing.photo %}
                <img src="{{photo.url.first}}" width = 200px>
              {% else %}
                <img src="../../static/images/no-photo.png" width = 200px>
              {% endif %}
              <p>Gender: {{ listing.gender }}</p>
              <p>Size: {{ listing.size }}</p>
              <p>Price: $ {{ listing.price }}</p>
          </div>
      </div>
    </a>
  {% endfor %}
  </div>
</div>

{% endblock %}