{% extends 'base.html' %}
{% block content %}

<h2>All Thifts</h2>

<div class="filters-listings">

  <div class="filters">
    <strong>Listing Search</strong>
    <form method="get">
      {% csrf_token %}
      {{ filter.form }}
      <input class="btn" type="submit"/>
    </form>
  </div>
  
  <div class ="listing-grid">
    {% for listing in list %}
      <a href="{% url 'listings_detail' listing.id %}">
        <div class="card">
            <div class="card-content" height = 450px>
                <span class="card-title">{{ listing.title }}</span>
                {% if listing.photo_set.count %}
                  <img class="listing-photo" src="{{listing.photo_set.first.url}}" >
                {% else %}
                  <img class="listing-photo" src="../../static/images/no-photo.png" >
                {% endif %}
                <p>Gender: {{ listing.gender }}</p>
                <p>Size: {{ listing.size }}</p>
                <p>Price: $ {{ listing.price }}</p>
            </div>
        </div>
      </a>
  {% endfor %}
  </div>
</div>


<div>
  <p id="pages">{{ list }}</p>
  {% if list.has_previous %}
    <a href="?page=1">&laquo First</a>
    <a href="?page={{ list.previous_page_number }}">Previous</a>
  {% endif %}
  
  {% if list.has_next %}
    <a href="?page={{ list.next_page_number }}">Next</a>
    <a href="?page={{ list.paginator.num_pages }}">Last &raquo</a>
  {% endif %}
</div>  


<script>
  var selectEl = document.getElementById('id_size');
  M.FormSelect.init(selectEl);

  var selectGen = document.getElementById('id_gender');
  M.FormSelect.init(selectGen);

  var selectCon = document.getElementById('id_condition');
  M.FormSelect.init(selectCon);
</script>
{% endblock %}