body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #FEF9EA;
    font-family: 'Quicksand', sans-serif;
    color: #67595E;
}
  
main {
    flex: 1 0 auto;
    background-color: #FEF9EA;
    margin: 0 20px;
}
  
footer.page-footer {
    padding-top: 0;
    text-align: right;
    background-color: #A49393;
}

nav {
    background-color: #A49393;
}

div.filters-listings {
  display: inline-flex;
  margin: 15px;
}

div.card {
  width: 250px;
  margin: 5px;
  background-color: #f0e4dc;
}

div.filters {
  text-align: left;
  width: 150px
}

div.listing-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

div.center {
  text-align: center;
}

a {
  color: #67595E;
}

strong {
  text-decoration: underline;
}

.btn {
  background-color: #67595E;
}

div.card-content {
  height: 400px;
}

#my-thift-card {
  height: 450px;
}

.listing-photo {
  max-height:250px;
  max-width:200px;
  height:auto;
  width:auto;
}

.detail-desc {
  margin-left: 30px;
}

.mythifts-links {
  padding: 12px;
  margin: 15px;
}

.mythifts-links:hover {
  background-color: #67595E;
  color: white;
}
