body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #FEF9EA;
    font-family: 'Quicksand', sans-serif;
    color: #67595E;
}
  
main {
    flex: 1 0 auto;
    background-color: #FEF9EA;
    margin: 0 20px;
}
  
footer.page-footer {
    padding-top: 0;
    text-align: right;
    background-color: #A49393;
}

nav {
    background-color: #A49393;
}

div.filters-listings {
  display: inline-flex;
  margin: 15px;
}

div.card {
  width: 250px;
  margin: 5px;
  background-color: #f0e4dc;
}

div.filters {
  text-align: left;
  width: 160px;
  border-right: 4px solid #67595E;
  padding-right: 15px;
}

div.listing-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 30px;
}

div.center {
  text-align: center;
}

a {
  color: #67595E;
}

strong {
  text-decoration: underline;
}

.btn {
  background-color: #67595E;
}

div.card-content {
  height: 400px;
}

#my-thift-card {
  height: 450px;
}

.listing-photo {
  max-height:250px;
  max-width:200px;
  height:auto;
  width:auto;
}

.detail-desc {
  margin-left: 30px;
}

.mythifts-links {
  padding: 12px;
  margin: 15px;
}

.mythifts-links:hover {
  background-color: #67595E;
  color: white;
}

a.active {
  background-color: #67595E;
  color: white;
}

.select-wrapper+label  {
  position:inherit;
}

.my-thrifts-filter {
  width: 220px;
  display: inline;
  border-right: 4px solid #67595E;
  padding-right: 5px;
}

.pagination {
  display: inline-block;
  text-align: center;
  font-size: 15px;
}

.pagination a:hover{
  background-color: #ddd;
}

h2 {
  margin: 10px;
  font-weight: 500;
  border-bottom: 4px solid #67595E;
}

h4 {
  font-size: larger;
}

#pages {
  margin-left: 185px;
  position: absolute;
  bottom: 10px;
}
