{% extends 'base.html' %}
{% block content %}

<h1>Welcome {{user}}</h1>
<h2>My Thrifts</h2>
<h3><a href="">Bought Items</a></h3>
<h3><a href="">My listings</a></h3>
<h3><a href="">Sold Items</a></h3>

{%for listing in listings%}
<a href="">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ listing.title }}</span>
            <p>Insert Image Here</p>
            <p>Gender: {{ listing.gender }}</p>
            <p>Size: {{ listing.size }}</p>
            <p>Price: {{ listing.price }}</p>
        </div>
    </div>
  </a>
  {% endfor %}

  {%for item in bought%}
<a href="">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ listing.title }}</span>
            <p>Insert Image Here</p>
            <p>Gender: {{ bought.gender }}</p>
            <p>Size: {{ bought.size }}</p>
            <p>Price: {{ bought.price }}</p>
        </div>
    </div>
  </a>
  {% endfor %}


{%for item in sold%}
<a href="">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ listing.title }}</span>
            <p>Insert Image Here</p>
            <p>Gender: {{ sold.gender }}</p>
            <p>Size: {{ sold.size }}</p>
            <p>Price: {{ sold.price }}</p>
        </div>
    </div>
  </a>
  {% endfor %}
{% endblock %}