{% extends 'base.html' %}
{% block content %}

<h2>{{user}}'s {{page}} Page</h2>
<div class="filters-listings">

  <div class="my-thrifts-filter">
    <h3>Select:</h3>
    <h4><a class="mythifts-links" href="{%url 'mythrifts_listings'%}">My Listings</a></h4>
    <h4><a class="mythifts-links" href="{%url 'mythrifts_sold'%}">My Sold Items</a></h4>
    <h4><a class="mythifts-links" href="{%url 'mythrifts_bought'%}">My Bought Items</a></h4>
  </div>

  <div class ="listing-grid">
    {% for listing in listings %}
    <a href="{% url 'listings_detail' listing.id %}">
      <div class="card">
        <div class="card-content" id="my-thift-card">
            <span class="card-title">{{ listing.title }}</span>
            {% if listing.photo_set.count %}
              <img class="listing-photo" src="{{listing.photo_set.first.url}}" width = 200px>
            {% else %}
              <img class="listing-photo" src="../../static/images/no-photo.png" width = 200px>
            {% endif %}
            <p>Gender: {{ listing.gender }}</p>
            <p>Size: {{ listing.size }}</p>
            <p>Price: $ {{ listing.price }}</p>
            {%if listing.buyer == None%}
            <a href="{%url 'listing_update' listing.id %}" class="btn">Edit</a>
            <a href="{%url 'listing_delete' listing.id %}" class="btn">Delete</a>
            {%endif%}
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  
</div>
<script defer src="../../static/js/mythifts.js"></script>
{% endblock %}